.app-bar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

[data-theme="dark"] .app-bar {
  background-color: var(--dark-mode-background);
  color: white;
}

[data-theme="light"] .app-bar {
  background-color: var(--dark-light-background);
  color: black;
  border-bottom: 1px solid gray
}